{{#partial "content"}}

<div class="input">
    <form action="/squad/new" method = "post">
        <input type="text" placeholder="Enter your squad name" id="squadName" name="squadName" required><br>
        <input type="text" placeholder="Maximum size"id="size" name="size" required><br>
        <input type="text" placeholder="Mission"id="reason" name="reason" required><br>
        <button type="submit" class="btn btn-danger">  Submit  </button>

    </form>
</div>
{{/partial}}

{{> layout.hbs}}
