{{#partial "content"}}

    <div class="homepage">
        <p>The number one hero fighting zones in the country</p>
        <h3><strong> LETS`S FIGHT IN THE ONE WAY BATTLE-ROAD.</strong> </h3>
         <a href="/hero/form"><input type="button" value="Be A Hero"></a>
    </div>
{{/partial}}

{{> layout.hbs}}
