{{#partial "content"}}

<div class="succes">
<h1>
   Success !
    </h1>
<p>
       {{name}} Squad has been Created sucessfully
</p>
<a href="/squad/new"><button type="submit" class="btn btn-primary" aria-pressed="false" autocomplete="off">
        Create Squad
      </button></a>
</div>
{{/partial}}

{{> layout.hbs}}
