{{#partial "content"}}

<div class="succes">
<h1>
   Success !
    </h1>
<p>
       {{squadName}} Squad has been Created sucessfully 

</p>

<a href="/squad/details/{{id}}"><button type="submit" class="btn btn-primary" aria-pressed="false" autocomplete="off">
        View Details
      </button></a>
<a href="/"><button type="submit" class="btn btn-primary" aria-pressed="false" autocomplete="off">
        Go back
      </button></a>
</div>
{{/partial}}

{{> layout.hbs}}
