*{
    transition: all 0.5s ease-out;
}
img{
    float: left;
}
a{
    text-decoration: none;
}
li{
    display: inline-block;
    padding-right: 40px;
}
.navba{
    height: 60px;
    margin-top: 0px;
    padding-top: 30px;
}
ul{
    float: right;
    margin-right: 40px;
    padding-top: 20px;
    font-family: 'Cormorant SC', serif;
}
img{
    margin-left: 40px;
}
a{
    color: white;
    font-size: 13px;
}
body{
    background-image: url("/images/back2.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
  }
.homepage{
    padding-top: 170px;
    width: 600px;
    color: white;
    text-align: center;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
}
.homepage p{
    font-family: 'Aguafina Script', cursive;
    font-size: 22px;
    padding-bottom: 10px;
}
.homepage h3{
    font-size: 40px;
}
.homepage>a>input{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}
.navba a:hover{
 color: red;
 text-decoration: none;
}
.homepage input:hover{
    background-color: rgb(122, 21, 21);
    box-shadow:0px 0px rgb(122, 21, 21)
}
.input{
    padding-top: 50px;
    color: white;
    float: right;
    margin-left: 10%;
}
.input::placeholder{
    color:white;
}
.input input{
    width: 300px;
    padding: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(131, 76, 76);
    color: white;

}
.input button{
    width: 340px;
    margin-top: 20px;
}
.succes{
    color: white;
}
.succes{
    margin-top: 60px;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  /* background: linear-gradient(to bottom, rgba(140, 122, 122, 1) 0%, rgba(175, 135, 124, 1) 65%, rgba(175, 135, 124, 1) 100%) fixed; */
  /* background: url('bak2.jpg') no-repeat center center fixed; */
  background-size: cover;
  /* font: 14px/20px "Lato", Arial, sans-serif; */
  color: #9e9e9e;
  margin-top: 30px;
}
.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}
.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}
.clash-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  /* border-radius: 19px; */
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}
.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.clash-card__image--barbarian img {
  width: 300px;
  position: absolute;
  top: 0px;
  left: -40px;
}

.clash-card__level {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
}
.clash-card__level--barbarian {
  color: #140d62;
}

.clash-card__unit-name {
  font-size: 24px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-stats--barbarian {
  background: rgba(0, 0, 0, 0.8);
}
.clash-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #a80911;
}
.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  /* border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px; */
}
.clash-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.clash-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.clash-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.clash-card__unit-stats .no-border {
  border-right: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
