{{#partial "content"}}

<div class="input">
    <form action="">
        <input type="text" placeholder="Enter your name"><br>
        <input type="text" placeholder="Enter Age"><br>
        <input type="text" placeholder="Strength"><br>
        <input type="text" placeholder="Weakness"><br>
       <a href="/home/moringa/Desktop/heroessquad resources/index3.html"> <button type="button" class="btn btn-danger">  Submit  </button></a>

    </form>
</div>
{{/partial}}

{{> layout.hbs}}


