<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = 'stylesheet' href='/app.css' >
</head>
<body>
    <div class="navba">
        <img src="/images/logo.png" alt="" height="170%">
        <ul>
            <li><strong><a href="#">HOME</a></strong></li>
            <li><strong><a href="#">HEROES</a></strong></li>
            <li><strong> <a href="#">SQUAD</a></strong></li>
            <li><strong><a href="#">ABOUT</a></strong></li>
            <li><strong><a href="#">CONTACT</a></strong></li>
        </ul>
    </div>
    <div class="homepage">
        <p>The number one hero fighting zones in the country</p>
        <h3><strong> LETS`S FIGHT IN THE ONE WAY BATTLE-ROAD.</strong> </h3>
        <a href="/heroes"><input type="button" value=" Be A Hero " href="/heroes"></a>
    </div>
    
</body>
</html>
