<!DOCTYPE html>
<html>
<head>
   <title>{{#block "title"}}Hero-Squad{{/block}}</title>
	
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
 <link href="https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap" rel="stylesheet">
<link rel = 'stylesheet' href='/app.css' >
</head>
<body>
 <div class="navba">
        <img src="/images/logo.png" alt="logo" height="170%">
        <ul>
            <li><strong><a href="/">HOME</a></strong></li>
            <li><strong><a href="/hero/form">HEROES</a></strong></li>
            <li><strong> <a href="/squad/form">SQUADS</a></strong></li>
            <li><strong><a href="/">ABOUT</a></strong></li>
            <li><strong><a href="/">CONTACT</a></strong></li>
        </ul>
    </div>
   <div>
       {{#block "content"}}
       {{/block}}

   </div>
</div>
<!--end main template-->
{{#block "footer"}}
   </body>
   </html>
{{/block}}
