<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Be a Hero</title>
</head>
<body>
<div class="inputs">
    <form action="/Squads">
        <input type="text" placeholder="Enter your squad name"><br>
        <input type="text" placeholder="Maximum size "><br>
        <input type="text" placeholder="Mission"><br>
       <a href="/home/moringa/Desktop/heroessquad resources/succes.html"> <button type="button" class="btn btn-danger">  Submit  </button></a>

    </form>
</div>
</div>

</body>
</html>
