{{#partial "content"}}

<div class="succes">
<h1>
   Success !
    </h1>
<p>
       {{name}} Created sucessfully{{id}}
</p>

<a href="/hero/details/{{id}}"><button type="submit" class="btn btn-primary" aria-pressed="false" autocomplete="off">
        See Hero
      </button></a>
</div>
{{/partial}}

{{> layout.hbs}}
